<!DOCTYPE HTML>
<html lang="pt-BR">

    <head>
        <meta charset="Utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://kit.fontawesome.com/2c8f94af08.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/estilo.css">

        <!--Título da página-->
        <title>Monitoramento de Temperatura e Umidade</title>

        <!--Ícone da página-->
        <link rel="icon" href="img/temperatura.svg">
    </head>

    <body>
        <h2>ESP-32</h2>
        <h3 id="clinica"></h3>

        <p>
            <i class="fas fa-thermometer-half"></i>
            <span class="sensor">Temperatura</span>
            <span id="temperatura"></span>
            <sup class="unidades">&deg;C</sup>
        </p>
        <p>
            <i class="fas fa-tint"></i>
            <span class="sensor">Umidade</span>
            <span id="umidade"></span>
            <sup class="unidades">&percnt;</sup>
        </p>
    </body>

</html>